apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: strimzi

resources:
  - ../base
  - clusterrolebindings.yaml

patches:
  - target:
      kind: Deployment
      name: strimzi-cluster-operator
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: strimzi-cluster-operator
      spec:
        template:
          spec:
            containers:
              - name: strimzi-cluster-operator
                env:
                  - name: STRIMZI_NAMESPACE
                    value: '*'
                    valueFrom: null
