apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: strimzi

resources:
  - https://github.com/strimzi/strimzi-kafka-operator/releases/download/0.49.0/strimzi-cluster-operator-0.49.0.yaml
  - namespace.yaml

patches:
  - target:
      kind: RoleBinding
    patch: |-
      - op: replace
        path: /subjects/0/namespace
        value: strimzi
  - target:
      kind: ClusterRoleBinding
    patch: |-
      - op: replace
        path: /subjects/0/namespace
        value: strimzi

