apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: apicurio-registry

resources:
  - ../base

patches:
  - target:
      kind: Deployment
      name: apicurio-registry-operator
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: apicurio-registry-operator
      spec:
        template:
          spec:
            containers:
              - name: apicurio-registry-operator
                env:
                  - name: APICURIO_OPERATOR_WATCHED_NAMESPACES
                    value: ''
                    valueFrom: null
